# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib

# Executables and images
*.exe
*.out
*.app
*.bin
*.img
*.elf
*.iso

# Development environment files and build files
*.bxrc
build/*.*
